*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* text */
    --color: #fff;
    --primary: #d3d3d3;
    --darkcolor: #000;
    /* btn */
    --btn: #fff;
    --btnprimary: #5372F0;
    /* bg */
    --bg: #fff;
    --darkbg: #000;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}



/* mobile start */

.mobile {
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    padding: 38px 10px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/hero_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 200;
}

.mobile::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--darkbg);
    opacity: 0.3;
    z-index: -1;
}

.mobile__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.mobile__list {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.mobile__item {
    display: inline-block;
}

.mobile__link {
    font-weight: 400;
    font-size: 25px;
    color: var(--color);
    text-decoration: none;
}

.close-menu {
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    --fa-animation-duration: 2s;
}

.close {
    font-size: 20px;
    color: var(--color);
}

/* mobile end */



/* nav start */

.nav {
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 10px rgb(0 0 0 / 5%);
    z-index: 100;

    display: none;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav__logo-wrap {
    display: inline-block;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.nav__img-box {
    width: 100%;
    max-width: 75px;
    display: flex;
}

.nav__img {
    width: 100%;
    display: flex;
}

.nav__title {
    font-size: 25px;
    color: var(--darkcolor);
}

.nav__content {
    color: var(--primary);
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.nav__item {
    display: inline-block;
}

.nav__link {
    font-weight: 500;
    font-size: 17px;
    color: var(--darkcolor);
    text-decoration: none;
}

.menu{
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    --fa-animation-duration: 2s;

    display: none;
}

.open{
    font-size: 20px;
    color: var(--darkcolor);
}

/* nav end */



/* bg section start */

.bg-section {
    position: relative;
    background: url(../img/hero_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}

.bg-section::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--darkbg);
    opacity: 0.3;
    z-index: -1;
}

/* header start */

.header {
    width: 100%;
    padding: 10px;
    z-index: 100;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.header__logo-wrap {
    display: inline-block;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.header__img-box {
    width: 100%;
    max-width: 75px;
    display: flex;
}

.header__img {
    width: 100%;
    display: flex;
}

.header__title {
    font-size: 25px;
    color: var(--color);
}

.header__content {
    color: var(--primary);
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.header__item {
    display: inline-block;
}

.header__link {
    font-weight: 500;
    font-size: 17px;
    color: var(--color);
    text-decoration: none;
}

.header__open{
    color: var(--color);
}

/* header end */



/* hero start */

.hero {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 95px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__container {
    display: flex;
    align-items: center;
}

.hero__text-box {
    display: grid;
    align-items: center;
    gap: 20px;
}

.hero__title {
    width: 100%;
    max-width: 410px;
    font-weight: 600;
    font-size: 60px;
    color: var(--color);
}

.hero__content {
    color: var(--primary);
}

.hero__text {
    max-width: 500px;
    font-weight: 400;
    font-size: 16px;
    color: var(--color);
}

.btn-wrap {
    width: 100%;
    max-width: 450px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--color);
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    transition: 0.4s;
    border: 2px solid var(--btnprimary);
}

.btn:hover{
    background-color: var(--btnprimary);
}

.hero__btn {
}

/* hero end */

/* bg section start */



/* about start */

.about {
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about__img-box {
    width: 90%;
    height: 90%;
    max-width: 400px;
    position: relative;
    display: flex;
    z-index: 1;
    margin-left: 30px;
}

.about__img-box::after{
    content: '';
    width: 95%;
    height: 95%;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: -1;
    border: 10px solid var(--btnprimary);
}

.about__img {
    width: 100%;
    max-width: 400px;
    display: flex;
    transition: 0.4s;
    border: 10px solid var(--bg);
}

.about__img-box:hover .about__img{}

.about__text-box {
    width: 100%;
    max-width: 500px;
    display: grid;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.about__title {
    font-weight: 600;
    font-size: 50px;
    color: var(--darkcolor);
}

.about__content {
    color: var(--primary);
}

.about__text {
    font-weight: 400;
    font-size: 16px;
}

.about__btn{
    color: var(--darkcolor);
}

.about__btn:hover{
    color: var(--color);
}

/* about end */



/* @media start */

@media (max-width: 540px){

    .mobile{
        background-position: calc(50% + 220px) center;
    }

    .bg-section{
        background-position: calc(50% + 220px) center;
    }

}
@media (max-width: 895px){

    .header__list,
    .nav__list{
        display: none;
    }

    .menu{
        display: flex;
    }
    
}

@media (max-width: 1024px){
    
    .about__container{
        flex-direction: column-reverse;
    }

}

/* @media end */